body {
    margin: 0;
    padding: 0;
    background: black;
}
    
.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liste {
    flex-grow: 1;
    text-align: center;
}

.liste a {
    color: white;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Noto Serif JP";
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
}

.logo-1 {
    height: 80px;
    width: 100px;
    margin: 5px;
    object-fit: cover;
}

h1 {
    background-image: url(../images/fond-titre/rasso-japon.jpg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 150px;
    font-family: Edu NSW ACT  Fondation;
    font-weight: 700;
    text-transform: uppercase;
    height: 590px;
}

.titre {
    display: flex;
    justify-content: center;
    font-family: Cormorant Garamond;
    font-size: 50px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 5px;
    color: whitesmoke;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.bouton-lien {
    display: block;
    margin : auto;
    width: 270px;  
    background-color: red;
    border: 0.2px solid black;
    border-radius: 5px;
    padding: 3px;
    color: white;
    font-family: Cormorant Garamond;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.bouton-lien.rwb {
    margin-left: 885px;
}

.voiture {
    display: flex;
}

.voiture-1 {
    display: flex;
}

.image {
    display: flex;
    width: 550px;
    height: 350px;
    object-fit: cover;
}

.image:hover {
    transform: scale(1.05);
    filter: blur(10px);
    transition: filter 0.5s;
}

.paragraphe {
    font-size: 20px;
    padding: 10px; 
    margin: 100px;
    font-family: Merriweather;
    font-weight: 400;
    color: whitesmoke;
}

footer {
    text-align: center;
    background-color: red;
    color: white;
    margin-top: 20px;
    padding: 15px;
    font-size: 35px;   
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 80px;
}

.logo-link {
    height: 60px;
}