*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: black;
}
    
.navbar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url(../images/navbar/image-navbar-auto.jpg);
    background-size: cover;
    background-position: center; 
    height: 400px;
    object-fit: cover;
}

.navbar-titre {
    position: absolute;
    color: black;
    font-size: 100px;
    font-family: Edu NSW ACT  Fondation;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.liste {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.liste a {
    color: black;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: "Noto Serif JP";
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
}



.titre {
    display: flex;
    justify-content: center;
    font-family: Cormorant Garamond;
    font-size: 50px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 5px;
    color: whitesmoke;
}

h2 {
    font-size: 50px;
    color: white;
}

.bouton-lien {
    display: block;
    margin : auto;
    width: 270px;  
    background-color: red;
    border: 0.2px solid black;
    border-radius: 5px;
    padding: 3px;
    color: white;
    font-family: Cormorant Garamond;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.bouton-lien.rwb {
    margin-left: 885px;
}

img {
    width: 30%;
    height: 350px;
    object-fit: cover;
}

.image-ferrari {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

iframe {
    width: 30%;
    height: 350px;
    object-fit: cover;
}

p {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: start;
    font-family: Merriweather;
    font-weight: 400;
    color: whitesmoke;
    
}
#slider {
    position: relative;
    width: 50%;
    height: 750px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    object-fit: cover;
}
  
.image-slider {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
  
#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0.5;
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    color: rgba(220, 220, 220, 0.8);
    background-color: black;
    color: yellow;
    padding: 10px;
    
}
  
#precedent {
    left: 0;
    border-radius: 0px 20px 20px 0px;
}
  
#suivant {
    right: 0;
    border-radius: 20px 0px 0px 20px;
}
  
#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}

footer {
    width: 100%;
    background-color: red;
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 15px 0;   
}



.lien-reseaux {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon-atypique {
    width: 60px;
    height: 32px;
    object-fit: cover;
}

@media (max-width: 1330px) {
    .navbar-titre {
        font-size: 60px;
    }
}

@media (max-width: 800px) {
    
}