*, *::before, *::after {
    box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   background: darkred;  
}

.navbar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url(../images/navbar/navbar-japon.jpg);
    background-size: cover;
    background-position: bottom; 
    height: 400px;
    object-fit: cover;
}

.navbar-titre {
    position: absolute;
    color: white;
    font-size: 100px;
    font-family: Edu NSW ACT  Fondation;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.logo-1 {
    position: absolute;
    top: 10px;
    left: 10px; 
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.liste {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.liste a {
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: "Noto Serif JP";
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
}

h2 {
    text-align: center;
    font-family: Cormorant Garamond;
    font-weight: 700;
    font-size: 50px;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 5px;
    padding-top: 50px;
    color: #F2D5DC;
}

.bouton-lien {
    display: block;
    margin : auto;
    width: 240px;
    background-color: #e9e9ed;
    border: 0.2px solid #8f8f9d;
    border-radius: 5px;
    padding: 3px;
    color: black;
    font-family: Cormorant Garamond;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.container {
    display: flex;
    padding-top: 50px;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
} 

.card {
    display: flex;
    height: 300px;
    border: 5px solid white;
    width: 49%;
    border-radius: 20px;
    overflow: hidden;
}

.container-image {
    width: 60%;
}

img {
    width: 100%;
    height: 100%;
}

.container-paragraphe {
    display: flex;
    align-items: center;
    width: 40%;
    font-size: 15px;
    padding: 2px;
    margin: 10px;
    font-family: Merriweather;
    font-weight: 400;
    color: #F2D5DC;
}

.icon img {
    width: auto;
    height: auto;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px; 
}

.lien-reseaux {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon-atypique {
    width: 60px;
    height: 32px;
    object-fit: cover;
}

@media (max-width: 1330px) {
    .navbar-titre {
        font-size: 60px;
    }
    
    .container-paragraphe {
        font-size: 13px;
    }
}

@media (max-width: 800px) {
    .navbar-titre {
        font-size: 40px;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 400px;
    }

    .container-image {
        width: 100%;
        height: 50%;
}

    .container-paragraphe {
        font-size: 14px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 2px;
        padding: 0px 20px 0px 20px;
        text-align: center;
    }

    

   
}