body {
   margin: 0;
   padding: 0;
   background: beige;   
}

.navbar {
    background-color: aqua;
    overflow: hidden;
    display: flex;
    justify-content: center; 
}

nav a {
    color: black;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Noto Serif JP";
    font-weight: 700;
    font-size: 20px;
}

h1 {
    background-image: url(https://laurierduvallon.com/app/uploads/2019/10/japon-banniere-1440x442.png);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 150px;
    font-family: Edu NSW ACT  Fondation;
    font-weight: 700;
    text-transform: uppercase;
    height: 400px;
}

h2 {
    text-align: center;
    font-family: Cormorant Garamond;
    font-weight: 700;
    font-size: 50px;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 5px;
    padding: 50px;
}


.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
} 

.card {
    display: flex;
    height: 300px;
    border: 5px solid black;
    width: 800px;
    border-radius: 20px;
    overflow: hidden;
}

.card-paysage {
    background-color: palevioletred;
}

.card-ville {
    background-color: skyblue;
}


.card-magasins {
    background-color: darkcyan;  
}

.card-restaurants {
    background-color: lightslategrey;  
}

.paragraphe {
    font-size: 13px;
    padding: 2px;
    margin: 10px;
    font-family: Merriweather;
    font-weight: 400;
}

.paragraphe-1 {
    color: whitesmoke;
}


img {
    width: 500px;
    height: 300px;
}