body {
   margin: 0;
   padding: 0;
   background: beige;   
}

.navbar {
    background-color: aqua;
    overflow: hidden;
    display: flex;
    justify-content: center; 
}

nav a {
    color: black;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Noto Serif JP";
    font-weight: 700;
    font-size: 20px;
}

h1 {
    background-image: url(https://photo.comptoir.fr/asset/guide/1745/509522-1260x630-kawaguchiko-japon.jpg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 150px;
    font-family: Edu NSW ACT  Fondation;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-family: Cormorant Garamond;
    font-weight: 500;
    font-size: 50px;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 5px;
}


.paysages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
} 

.a, .b, .c, .d {
    display: flex;
    width: 500px;
    height: 300px;
    border: 5px solid black;
    width: 800px;
    background-color: palevioletred;
}

.img1, .img2, .img3, .img4 {
    display: flex;

}

.p1, .p2, .p3, .p4 {
    font-size: 13px;
    padding: 2px;
    color: whitesmoke;
    margin: 10px;
    font-family: Merriweather;
    font-weight: 400;
}



.villes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
} 

.e, .f, .g, .h {
    display: flex;
    width: 500px;
    height: 300px;
    border: 5px solid black;
    width: 800px;
    background-color: skyblue;
}

.img5, .img6, .img7, .img8 {
    display: flex;
}

.p5, .p6, .p7, .p8 {
    font-size: 13px;
    padding: 10px; 
    margin: 10px;
    font-family: Merriweather;
    font-weight: 400;
}

 

.magasins {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.i, .j, .k, .l {
    display: flex;
    width: 500px;
    height: 300px;
    border: 5px solid black;
    width: 800px;
    background-color: darkcyan;  
}

.img9, .img10, .img11, .img12 {
    display: flex;
}

.p9, .p10, .p11, .p12 {
    font-size: 13px;
    padding: 10px; 
    margin: 10px;
    font-family: Merriweather;
    font-weight: 400;
    color: whitesmoke;
}

.restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px
}

.m, .n, .o, .p {
    display: flex;
    width: 500px;
    height: 300px;
    border: 5px solid black;
    width: 800px;
    background-color: lightslategrey;  
}

.img13, .img14, .img15, .img16 {
    display: flex;
}

.p13, .p14, .p15, .p16 {
    font-size: 13px;
    padding: 10px; 
    margin: 10px;
    font-family: Merriweather;
    font-weight: 400;
}

